<div
    class="relative flex flex-col bg-white rounded shadow-xl mb-6"
    [routerLink]="['/per-event', id]"
>
    <div
        class="relative w-full rounded-tl rounded-tr"
        style="height: 120px; overflow: hidden"
    >
        <img
            class="absolute"
            [src]="posterImage"
            [ngStyle]="{
                filter: isEnded ? 'grayscale(100%)' : 'grayscale(0%)'
            }"
            alt=""
        />
    </div>
    <div class="px-6 py-4 flex items-baseline">
        <div class="flex flex-col mr-4">
            <p
                class="text-xs font-copy font-semibold text-black tracking-widest"
            >
                {{ day }}
            </p>
            <p
                class="text-2xs font-copy font-semibold text-red-600 tracking-widest leading-none mt-1 uppercase"
            >
                {{ month }}
            </p>
        </div>

        <div class="flex flex-col">
            <p class="text-sm text-black font-copy">
                {{ title }}
            </p>
            <p
                class="mt-1 text-2xs tracking-wide font-copy tracking-widest text-black uppercase text-gray-600"
            >
                {{ faculty }}
            </p>
        </div>
    </div>
</div>
