<div class="relative flex flex-col bg-white rounded shadow-xl mb-6">
    <div
        class="relative w-full rounded-tl rounded-tr"
        style="height: 120px; overflow: hidden"
    >
        <img
            class="absolute"
            src="https://p-u.popcdn.net/events/poster_a4s/000/006/100/large/KV-cover_800x1132px_%281%29.jpg?1564484567"
            alt=""
        />
    </div>
    <div class="px-6 py-4 flex items-baseline">
        <div class="flex flex-col mr-4">
            <p
                class="text-xs font-sans font-semibold text-black tracking-widest leading-none"
            >
                13
            </p>
            <p
                class="text-2xs font-sans font-semibold text-red-600 tracking-widest leading-none mt-1"
            >
                DEC
            </p>
        </div>

        <div class="flex flex-col">
            <p class="text-sm text-black truncate">
                Blognone Tomorrow 2019
            </p>
            <p
                class="text-2xs tracking-wide font-sans tracking-widest text-black uppercase"
            >
                Engineering
            </p>
        </div>
    </div>
</div>
