div {
    cursor: pointer;
    img {
        opacity: 1;
    }
    &:active {
        img {
            opacity: 0.5;
        }
    }
}

img {
    height: 167.67px;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
