<div class="flex flex-col h-full" [routerLink]="['/per-event', id]">
    <img
        class="w-full rounded shadow-2xl"
        [src]="posterImage"
        alt=""
        [ngStyle]="{ filter: isEnded ? 'grayscale(100%)' : 'grayscale(0%)' }"
    />
    <div class="flex flex-col justify-between" style="flex: 1">
        <div class="flex flex-col">
            <p
                class="font-copy mt-4 text-xs text-pink-500 tracking-wide leading-none"
            >
                {{ startDate }}
            </p>
            <p class="font-copy mt-2 text-sm">
                {{ title }}
            </p>
        </div>
        <p
            class="font-copy mt-2 text-xs text-gray-600 tracking-wide leading-none"
        >
            {{ faculty }}
        </p>
    </div>
</div>
