<div
    id="spacer"
    class="w-full flex sticky top-0 z-20"
    [style.background]="backgroundColor"
></div>

<main class="select-none">
    <div
        id="footer"
        *ngIf="withFooter"
        class="select-none footer-grid-container text-black w-full fixed bottom-0 bg-white z-20"
    >
        <div
            routerLink="/events"
            class="cursor-pointer flex flex-col items-center justify-center"
        >
            <ion-icon
                class="text-xl text-gray-600"
                routerLinkActive="text-pink-600"
                name="flash"
                mode="ios"
            ></ion-icon>
            <p
                class="mt-1 text-2xs text-gray-500 font-sans leading-none"
                routerLinkActive="text-pink-500"
            >
                Events
            </p>
        </div>
        <div
            routerLink="/wallet"
            class="cursor-pointer flex flex-col items-center justify-center"
        >
            <ion-icon
                class="text-xl text-gray-600"
                routerLinkActive="text-pink-600"
                name="wallet"
                mode="ios"
            ></ion-icon>
            <p
                class="mt-1 text-2xs text-gray-500 font-sans leading-none"
                routerLinkActive="text-pink-500"
            >
                Wallet
            </p>
        </div>
        <div
            routerLink="/saved"
            class="cursor-pointer flex flex-col items-center justify-center "
        >
            <ion-icon
                class="text-xl text-gray-600"
                routerLinkActive="text-pink-600"
                name="bookmark"
                mode="ios"
            ></ion-icon>
            <p
                class="mt-1 text-2xs text-gray-500 font-sans leading-none"
                routerLinkActive="text-pink-500"
            >
                Saved
            </p>
        </div>
        <div
            routerLink="/settings"
            class="cursor-pointer flex flex-col items-center justify-center border-pink-600"
        >
            <ion-icon
                class="text-xl text-gray-600"
                routerLinkActive="text-pink-600"
                name="cog"
                mode="ios"
            ></ion-icon>
            <p
                class="mt-1 text-2xs text-gray-500 font-sans leading-none"
                routerLinkActive="text-pink-500"
            >
                Settings
            </p>
        </div>
    </div>
    <div class="mx-6">
        <ng-content></ng-content>
    </div>
    <div class="w-full flex mt-12"></div>
    <div *ngIf="withFooter" class="w-full flex" style="height: 50px"></div>
</main>
