<div
    id="spacer"
    class="w-full flex sticky top-0 z-20"
    [style.background]="backgroundColor"
></div>

<main class="select-none">
    <div
        id="footer"
        *ngIf="withFooter"
        class="select-none footer-grid-container text-black w-full fixed bottom-0 bg-white z-20"
    >
        <app-tab-item link="/events" icon="flash" title="Events"></app-tab-item>
        <app-tab-item
            link="/wallet"
            icon="wallet"
            title="Wallet"
        ></app-tab-item>
        <app-tab-item
            link="/saved"
            icon="bookmark"
            title="Saved"
        ></app-tab-item>
        <app-tab-item
            link="/settings"
            icon="cog"
            title="Settings"
        ></app-tab-item>
    </div>
    <div class="mx-6">
        <ng-content></ng-content>
    </div>
    <div class="w-full flex mt-12"></div>
    <div *ngIf="withFooter" class="w-full flex" style="height: 50px"></div>
</main>
