<app-frame
    [withFooter]="false"
    [withBottomSpacing]="false"
    backgroundColor="#ffffff"
>
    <section class="-mx-6 px-6 items-center flex" id="main">
        <div class="w-full flex flex-col">
            <div class="w-full flex flex-col mb-8">
                <h1 class="text-center font-heading text-2xl">จุฬา ฯ</h1>
                <h1 class="text-center font-heading text-2xl">พาสปอร์ต</h1>
            </div>
            <div class="w-full flex flex-col">
                <!--  LATER  -->
            </div>
        </div>
    </section>
</app-frame>
