<app-frame [withFooter]="false" [backgroundColor]="fallbackBackground">
    <header
        id="header"
        class="-mx-6 px-6 w-full fixed z-10"
        [style.color]="getNavigationBarTextColor(fallbackBackground)"
        [style.background]="(navigationBackground | async) ? fallbackBackground : 'transparent'"
        [ngStyle]="{'box-shadow': (navigationBackground | async) ? '0 25px 50px 0px rgba(0, 0, 0, 0.25)' : 'none'}"
    >
        <div class="flex flex-row items-center">
            <div
                (click)="goBack()"
                class="flex items-center justify-center mr-3 cursor-pointer"
            >
                <ion-icon
                    class="text-lg"
                    name="arrow-back"
                    mode="md"
                ></ion-icon>
            </div>
            <p
                class="font-sans text-sm py-4 bg-transparent w-full truncate"
                [style.maxWidth]="(navigationBackground | async) ? '100%' : '0%'"
                [style.opacity]="(navigationBackground | async) ? '1' : '0'"
                [style.transition]="'all .75s'"
            >
                Blognone Tomorrow 2019
            </p>
        </div>
    </header>

    <main>
        <div class="-mx-6">
            <div
                class="w-full"
                [style.background]="fallbackBackground"
                [style.height]="'200px'"
            >
                <img
                    src="https:/d/p-u.popcdn.net/events/poster_a4s/000/006/100/large/KV-cover_800x1132px_%281%29.jpg?1564484567"
                    alt=""
                    class="w-full"
                />
            </div>
        </div>
        <header class="py-6 flex justify-between font-sans">
            <app-page-title></app-page-title>
        </header>
        <div class="mb-6 flex flex-col font-copy">
            <div class="pb-2 border-b">
                <event-info
                    title="Thursday, 13 April 2019"
                    subtitle="13:00 - 15:00"
                    icon="time"
                ></event-info>
            </div>
            <div class="py-2 border-b">
                <event-info
                    title="Main Auditorium"
                    subtitle="Faculty of Engineering"
                    icon="navigate"
                ></event-info>
            </div>
            <div class="pt-2">
                <event-info
                    title="International School of Engineering"
                    subtitle="Event Organizer"
                    icon="people"
                ></event-info>
            </div>
        </div>
        <div class="mb-6">
            <app-button></app-button>
        </div>
        <div class="mb-6">
            <section-text
                title="DESCRIPTION"
                text="JavaScript Bangkok 1.0.0 is an independently organized, single-day,
            single-track conference about everything JavaScript where both local and
            international JavaScript communities unite and learn from each other."
            ></section-text>
        </div>

        <div class="pt-6 mb-6 border-t">
            <schedule></schedule>
        </div>
        <div class="flex justify-center">
            <app-expand-button
                icon="bookmark"
                title="Save Event"
            ></app-expand-button>
        </div>
    </main>
</app-frame>
