<app-frame [withFooter]="false" [backgroundColor]="fallbackBackground">
    <header
        id="header"
        class="-mx-6 px-6 w-full fixed z-10"
        [style.color]="getNavigationBarTextColor(fallbackBackground)"
        [style.background]="(navigationBackground | async) ? fallbackBackground : 'transparent'"
        [ngStyle]="{'box-shadow': (navigationBackground | async) ? '0 25px 50px 0px rgba(0, 0, 0, 0.25)' : 'none'}"
    >
        <div class="flex flex-row items-center">
            <div
                (click)="goBack()"
                class="flex items-center justify-center mr-3 cursor-pointer"
            >
                <ion-icon
                    class="text-lg"
                    name="arrow-back"
                    mode="md"
                ></ion-icon>
            </div>
            <p
                class="font-sans text-sm py-4 bg-transparent w-full truncate"
                [style.maxWidth]="(navigationBackground | async) ? '100%' : '0%'"
                [style.opacity]="(navigationBackground | async) ? '1' : '0'"
                [style.transition]="'all .75s'"
            >
                Blognone Tomorrow 2019
            </p>
        </div>
    </header>

    <main>
        <div class="-mx-6">
            <div
                class="w-full"
                [style.background]="fallbackBackground"
                [style.height]="'200px'"
            >
                <img
                    src="https:/d/p-u.popcdn.net/events/poster_a4s/000/006/100/large/KV-cover_800x1132px_%281%29.jpg?1564484567"
                    alt=""
                    class="w-full"
                />
            </div>
        </div>
        <header class="py-6 flex justify-between font-sans">
            <div class="flex flex-col">
                <p
                    class="text-xs mb-2 text-blue-600 tracking-widest leading-none"
                >
                    TODAY
                </p>
                <h1 class="text-xl font-heading">
                    Blognone Tomorrow 2019
                </h1>
            </div>
        </header>
        <div class="mb-6 flex flex-col font-copy">
            <div class="pb-2 border-b flex flex-row items-center">
                <div class="flex" style="width: 30px">
                    <ion-icon
                        class="text-xl text-gray-400"
                        name="time"
                        mode="ios"
                    ></ion-icon>
                </div>
                <div class="flex flex-col">
                    <p class="text-sm">
                        Tuesday, 27 November 2019
                    </p>
                    <p class="text-xs font-sans tracking-wide text-gray-600">
                        13:00 - 19:00
                    </p>
                </div>
            </div>
            <div class="py-2 border-b flex flex-row items-center">
                <div class="flex" style="width: 30px">
                    <ion-icon
                        class="text-xl text-gray-400"
                        name="navigate"
                        mode="ios"
                    ></ion-icon>
                </div>
                <div class="flex flex-col">
                    <p class="text-sm">
                        Auditorium
                    </p>
                    <p class="text-xs font-sans tracking-wide text-gray-600">
                        Faculty of Engineering
                    </p>
                </div>
            </div>
            <div class="pt-2 flex flex-row items-center">
                <div class="flex" style="width: 30px">
                    <ion-icon
                        class="text-xl text-gray-400"
                        name="people"
                        mode="ios"
                    ></ion-icon>
                </div>
                <div class="flex flex-col">
                    <p class="text-sm">
                        International School of Engineering
                    </p>
                    <p class="text-xs font-sans tracking-wide text-gray-600">
                        Event Organizer
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-6">
            <button
                class="w-full p-3 text-xs font-sans tracking-widest text-white bg-blue-600 rounded-lg shadow-xl"
            >
                JOIN EVENT
            </button>
        </div>
        <div class="mb-6">
            <p
                class="text-xs font-sans text-gray-600 tracking-widest leading-none mb-4"
            >
                DESCRIPTION
            </p>
            <p class="text-sm leading-wide">
                JavaScript Bangkok 1.0.0 is an independently organized,
                single-day, single-track conference about everything JavaScript
                where both local and international JavaScript communities unite
                and learn from each other.
            </p>
        </div>

        <div class="pt-6 mb-6 border-t">
            <div class="schedule-grid text-sm font-copy">
                <p
                    class="text-xs font-sans text-gray-600 tracking-widest leading-none"
                >
                    TIME
                </p>
                <p
                    class="text-xs font-sans text-gray-600  tracking-widest leading-none"
                >
                    AGENDA
                </p>
                <p>18:00</p>
                <p>Doors Open</p>
                <p>18:30</p>
                <p class="font-semibold">Welcome speach by organizer</p>
                <p>18:40</p>
                <p>Guest talk by Scott Savarie</p>
            </div>
        </div>
        <div class="flex justify-center">
            <button
                class="flex items-center flex-row p-2 rounded bg-white shadow-xl"
            >
                <ion-icon
                    class="text-normal text-gray-400 mr-2"
                    name="bookmark"
                    mode="ios"
                ></ion-icon>
                <span
                    class="text-xs font-sans tracking-widest text-gray-600 leading-none"
                    >SAVE EVENT</span
                >
            </button>
        </div>
    </main>
</app-frame>
