<app-frame>
    <header class="py-6 flex justify-between font-sans">
        <app-page-title></app-page-title>
        <!-- // Search Icon -->
        <div class="flex items-center">
            <div
                routerLink="/search"
                class="cursor-pointer bg-blue-100 flex items-center justify-center rounded-full"
                style="width: 30px; height: 30px"
            >
                <ion-icon
                    class="text-blue-600"
                    name="search"
                    mode="ios"
                ></ion-icon>
            </div>
        </div>
        <!-- // Search Icon -->
    </header>
    <section>
        <div class="w-full grid-container">
            <app-vertical-event-card></app-vertical-event-card>
            <app-vertical-event-card></app-vertical-event-card>
            <app-vertical-event-card></app-vertical-event-card>
            <app-vertical-event-card></app-vertical-event-card>
        </div>
    </section>
</app-frame>
