<div
    class="w-full flex sticky top-0 z-20"
    style="height: 20px; background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(50px);"
></div>
<main>
    <div
        class="select-none footer-grid-container text-black w-full fixed bottom-0 bg-white z-20"
        style="height: 50px; background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(50px); box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.05)"
    >
        <div
            class="cursor-pointer flex flex-col items-center justify-center border-t border-pink-600"
        >
            <ion-icon
                class="text-xl text-pink-600"
                name="flash"
                mode="ios"
            ></ion-icon>
            <p class="mt-1 text-2xs text-pink-500 font-sans leading-none">
                Events
            </p>
        </div>
        <div class="cursor-pointer flex flex-col items-center justify-center">
            <ion-icon
                class="text-xl text-gray-600"
                name="wallet"
                mode="ios"
            ></ion-icon>
            <p class="mt-1 text-2xs text-gray-500 font-sans leading-none">
                Wallet
            </p>
        </div>
        <div class="cursor-pointer flex flex-col items-center justify-center">
            <ion-icon
                class="text-xl text-gray-600"
                name="bookmark"
                mode="ios"
            ></ion-icon>
            <p class="mt-1 text-2xs text-gray-500 font-sans leading-none">
                Saved
            </p>
        </div>
        <div class="cursor-pointer flex flex-col items-center justify-center">
            <ion-icon
                class="text-xl text-gray-600"
                name="cog"
                mode="ios"
            ></ion-icon>
            <p class="mt-1 text-2xs text-gray-500 font-sans leading-none">
                Settings
            </p>
        </div>
    </div>
    <header class="px-4 py-6 flex justify-between font-sans">
        <div class="flex flex-col">
            <p class="text-xs mb-2 text-pink-600 tracking-wide leading-none">
                30 November 2019
            </p>
            <h1 class="text-2xl font-heading leading-none">New Events</h1>
        </div>
        <div class="flex items-center">
            <div
                class="bg-pink-100 flex items-center justify-center rounded-full"
                style="width: 30px; height: 30px"
            >
                <ion-icon
                    class="text-pink-600"
                    name="search"
                    mode="ios"
                ></ion-icon>
            </div>
        </div>
    </header>
    <div class="px-4">
        <div class="w-full grid-container">
            <div
                class="flex flex-col"
                routerLink="/per-event"
                routerLinkActive="active"
            >
                <img
                    class="w-full rounded shadow-lg"
                    src="https://p-u.popcdn.net/events/poster_a4s/000/006/779/large/001_Poster-Image.jpg?1575465335"
                    alt=""
                />
                <div class="flex flex-col justify-between" style="flex: 1">
                    <div class="flex flex-col">
                        <p
                            class="font-sans mt-4 text-xs text-pink-600 tracking-wide leading-none"
                        >
                            Fri, 01 Nov 2019
                        </p>
                        <p class="font-sans mt-2 text-sm">
                            JavaScript Bangkok 2019 (Thailand)
                        </p>
                    </div>
                    <p
                        class="font-sans mt-2 text-xs text-gray-600 tracking-wide leading-none"
                    >
                        Engineering
                    </p>
                </div>
            </div>
            <div class="flex flex-col">
                <img
                    class="w-full rounded shadow-lg"
                    src="https://p-u.popcdn.net/events/poster_a4s/000/006/779/large/001_Poster-Image.jpg?1575465335"
                    alt=""
                />
                <div class="flex flex-col justify-between" style="flex: 1">
                    <div class="flex flex-col">
                        <p
                            class="font-sans mt-4 text-xs text-pink-600 tracking-wide leading-none"
                        >
                            Fri, 01 Nov 2019
                        </p>
                        <p class="font-sans mt-2 text-sm">
                            ABC
                        </p>
                    </div>
                    <p
                        class="font-sans mt-2 text-xs text-gray-600 tracking-wide leading-none"
                    >
                        Medicine
                    </p>
                </div>
            </div>
            <div class="flex flex-col">
                <img
                    class="w-full rounded shadow-lg"
                    src="https://p-u.popcdn.net/events/poster_a4s/000/006/779/large/001_Poster-Image.jpg?1575465335"
                    alt=""
                />
                <div class="flex flex-col justify-between" style="flex: 1">
                    <div class="flex flex-col">
                        <p
                            class="font-sans mt-4 text-xs text-pink-600 tracking-wide leading-none"
                        >
                            Fri, 01 Nov 2019
                        </p>
                        <p class="font-sans mt-2 text-sm">
                            ABC
                        </p>
                    </div>
                    <p
                        class="font-sans mt-2 text-xs text-gray-600 tracking-wide leading-none"
                    >
                        Medicine
                    </p>
                </div>
            </div>
            <div class="flex flex-col">
                <img
                    class="w-full rounded shadow-lg"
                    src="https://p-u.popcdn.net/events/poster_a4s/000/006/779/large/001_Poster-Image.jpg?1575465335"
                    alt=""
                />
                <div class="flex flex-col justify-between" style="flex: 1">
                    <div class="flex flex-col">
                        <p
                            class="font-sans mt-4 text-xs text-pink-600 tracking-wide leading-none"
                        >
                            Fri, 01 Nov 2019
                        </p>
                        <p class="font-sans mt-2 text-sm">
                            ABC
                        </p>
                    </div>
                    <p
                        class="font-sans mt-2 text-xs text-gray-600 tracking-wide leading-none"
                    >
                        Science
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex mt-6" style="height: 50px"></div>
</main>
